@import "src/components/variables";

.logo-container {
  z-index: 0;
  margin: auto;
  position: absolute;
  right: 25%;

  svg {
    display: none;
    width: 50vw;
    margin-left: -27vw;
    height: 184vh;
    bottom: 0;
    transform: rotateZ(30deg);

    @media (min-width: 1200px) {
      display: block;
    }
  }

  .solid-logo {
    position: absolute;
    width: 100%;
    left: 10%;
    opacity: 0;
   transform: rotateZ(30deg);
    z-index: 1;
  }
}

.svg-container {
  stroke: $primary-color;
  stroke-width: 10;
}
