*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  display: block;
}

#light {
  background: mediumpurple;
  height: 100vh;
}

#dark {
  background: black;
  height: 100vh;
}

a{
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px){
  body {
    overflow: visible;
  }

  #light {
    height: 100%;
  }

  #dark {
    height: 100%;
  }
}